* {
    padding: 20px;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
    width: 80%;
    height: 500px;
    font-size: 2em;
}

div {
    border: 2px dashed black;
    width: 80%;
    height: 400px;
}

section {
    border: 2px solid black;
    width: 80%;
    height: 300px;
}

p {
    border: 2px dashed black;
    width: 80%;
    height: 200px;
}