* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 1px solid #bbb;
    border-radius: 14px;
    padding: 20px;
}

#today {
    font-size: 1.2em;
    margin: 10px;
}

#clock {
    font-size: 1em;
    margin: 10px;
}

span {
    font-weight: bold;
    color: red;
}