* {
    margin: 0;
    padding: 0;
}

body {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
    padding: 15px;
    border-style: 1px solid #ccc;
    background-color: #06f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin: 20px;
    font-size: 2em;
}